{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Juventina Ibarra</h1>
        <p>Lifelong learner</p>
        <img src="/static/img/juven.jpg" alt="selfie">
    </section>
    <section id="about-page">
        <h2>A little about me</h2>
        <p>My name is Juventina Ibarra. I am a university student, currently in my 4th year of business administration, where I have learned the basics of financial accounting, marketing, business statistics, corporate law, human resources, quality systems, and development of corporate skills, among others.</p>

        <p>In addition to my degree, i have completed various certifications including Ux design, and currently finishing python techdegree. I believe this differentiates me from traditional administrators since i can communicate with software engineers and UX/UI professionals understanding their programming language, terminologies, and concepts.</p>

        <p>I am a bilingual person, spanish is my native language and i learned my second language english, at the American English Academy. I consider myself an eternal learner, i am very excited to learn more about management applied to technology.</p>
    </section>
{% endblock %}